/*
colors
#261628
#348aa7
#e08dac
#59c9a5
#e6f14a
*/

.bg-success{
  background-color: #59c9a5!important
}

.bg-info{
  background-color:#348aa7!important
}

.bg-primary{
  background-color:#348aa7!important
}

.btn-warning{
  background-color: #e6f14a;
  border-color: #e6f14a;
}
.btn-warning:hover{
  background-color: #939a30;
  border-color: #939a30;
}

.btn-warning:active{
  background-color: #939a30;
  border-color: #939a30;
}

.btn-warning:focus{
  background-color: #939a30;
  border-color: #939a30;
}

.btn-primary{
  background-color: #348aa7;
}
.btn-primary:hover{
  background-color: #22586b;
}

.btn-success{
  background-color: #59c9a5!important;
  border-color:#59c9a5!important;
}

.btn-success:hover{
  background-color: #316e5a!important;
  border-color:#316e5a!important;
}

.btn-outline-success{
  border-color:#59c9a5!important;
  color:#59c9a5;
}

.btn-outline-success:hover{
  background-color:#59c9a5!important;
  border-color:#59c9a5!important;
  color:#ffffff;
}

.alert-dark{
  background-color: #e08dac!important
}

.btn-outline-secondary{
  border-color:#5b507a!important;
  color: #5b507a;
}

.btn-outline-secondary:hover{
  background-color:#5b507a!important;
  color: #e08dac;
}
