<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='effects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename='safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#51ff5d">

    <style>
        .btn-md {
            border-radius: 10%;

        }
        #menu {
          text-decoration: none;
          outline: 0;
        }
    </style>

    <title>{{ username }} &bull; Tuesday</title>
</head>

<body>


    <nav class="navbar navbar-light bg-success">
        <a class="navbar-brand mb-0" href="/home">
            <h1><em>Tuesday</em></h1>
        </a>
        <div>
	  <img src="/static/BigCoin.png" width = 20; height = 20;>
	  <text id="bigcoins" class="mr-3">{{ bigcoin }}</text>
            <a href="/profile" style="text-decoration:none; outline:0"> <img src="{{url}}" id="avatar" style="border-radius: 25%;" width = 55; height = 55;> </a>
            <a href="/logout">
                    <button type="button" class="btn btn-warning">Log out</button>
            </a>

        </div>
    </nav>
    <a href="/profile" style="z-index: 10000;" class="mx-2 my-2 sticky-top btn btn-warning">Back to Profile</a>
    <div class="container mt-3">

        <div class="row">
            <div class="col-md text-center sticky-top bg-white">
                <img id='avatarBoi' src="{{url}}" class="img-fluid img-thumbnail">
                <h2 class="h2 my-2">{{username }}</h2>
            </div>

            <div class="col-md">
                <div class="container">
                  <h2 class="h2 text-center"><i>CUSTOMIZE YOUR AVATAR</i></h2>
                    <div class="row mb-2">
                        <div class="col-md my-3 my-md-0 text-center">
                          <a id="menu" data-toggle="collapse" href="#collapse_eyes" role="button"><b><h5 class="alert alert-dark">EYES</h5></b></a>
                          <div class="collapse mt-2" id="collapse_eyes" align="left">
                            {% for eye, value in eyes.items() %}
                              {% if eye in owned_eyes %}
                                <button id="{{eye}}" class="btn btn-success ml-1 mb-2" onmouseenter="updateEyes('{{eye}}');" onmouseout="displayCurrentAvatar();" onclick="changeEyes('{{eye}}')" type="button" class="btn btn-block btn-light border my-0">Eyes {{ loop.index }}</button>
                              {% else %}
                                <button id="{{eye}}" class="btn btn-outline-secondary ml-1 mb-2" onmouseenter="updateEyes('{{eye}}');" onmouseout="displayCurrentAvatar();" onclick="confirmPurchase({{bigcoin}}, 'eyes', '{{eye}}', {{value}})" type="button" class="btn btn-block btn-light border my-0">Eyes {{ loop.index }}</button>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="col-md my-3 my-md-0 text-center">
                            <a id="menu" data-toggle="collapse" href="#collapse_noses" role="button"><b><h5 class="alert alert-dark">NOSES</h5></b></a>
                            <div class="collapse mt-2" id="collapse_noses" align="left">
                              {% for nose, value in noses.items() %}
                                {% if nose in owned_noses %}
                                  <button id="{{nose}}" class="btn btn-success ml-1 mb-2" onmouseenter="updateNose('{{nose}}');" onmouseout="displayCurrentAvatar();" onclick="changeNose('{{nose}}')" type="button" class="btn btn-block btn-light border my-0">Nose {{ loop.index }}</button>
                                {% else %}
                                  <button id="{{nose}}" class="btn btn-outline-secondary ml-1 mb-2" onmouseenter="updateNose('{{nose}}');" onmouseout="displayCurrentAvatar();" onclick="confirmPurchase({{bigcoin}}, 'noses', '{{nose}}', {{value}})" type="button" class="btn btn-block btn-light border my-0">Nose {{ loop.index }}</button>
                                {% endif %}
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md my-3 my-md-0 text-center">
                            <a id="menu" data-toggle="collapse" href="#collapse_mouths" role="button"><b><h5 class="alert alert-dark">MOUTHS</h5></b></a>
                            <div class="collapse mt-2" id="collapse_mouths" align="left">
                              {% for mouth, value in mouths.items() %}
                                {% if mouth in owned_mouths %}
                                  <button id="{{mouth}}" class="btn btn-success ml-1 mb-2" onmouseenter="updateMouth('{{mouth}}');" onmouseout="displayCurrentAvatar();" onclick="changeMouth('{{mouth}}')" type="button" class="btn btn-block btn-light border my-0">Mouth {{ loop.index }}</button>
                                {% else %}
                                  <button id="{{mouth}}" class="btn btn-outline-secondary ml-1 mb-2" onmouseenter="updateMouth('{{mouth}}');" onmouseout="displayCurrentAvatar();" onclick="confirmPurchase({{bigcoin}}, 'mouths', '{{mouth}}', {{value}})" type="button" class="btn btn-block btn-light border my-0">Mouth {{ loop.index }}</button>
                                {% endif %}
                              {% endfor %}
                          </div>
                        </div>
                        <div class="col-md my-3 my-md-0 text-center">
                            <a id="menu" data-toggle="collapse" href="#collapse_colors" role="button"><b><h5 class="alert alert-dark">COLORS</h5></b></a>
                            <div class="collapse mt-2" id="collapse_colors">
                              {% for color, value in colors.items() %}
                                {% if color in owned_colors %}
                                  <button id="{{color}}" onmouseenter="updateColor('{{color}}');" onmouseout="displayCurrentAvatar();" onclick="changeColor('{{color}}')" type="button" class="btn btn-block btn-light border my-0" style="background-color: #{{color}};">&nbsp;OWNED</button>
                                {% else %}
                                  <button id="{{color}}" onmouseenter="updateColor('{{color}}');" onmouseout="displayCurrentAvatar();" onclick="confirmPurchase({{bigcoin}}, 'color', '{{color}}', '{{value}}')" type="button" class="btn btn-block btn-light border my-0" style="background-color: #{{color}};">&nbsp;PURCHASE</button>
                                {% endif %}
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='avatar.js') }}"></script>
</body>

</html>
