<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='effects.css') }}">

    <style>
        .btn-md {
            border-radius: 10%;

        }
    </style>

    <title>{{ username }} &bull; Tuesday</title>
</head>

<body>


    <nav class="navbar navbar-light bg-success">
        <a class="navbar-brand mb-0" href="/home">
            <h1><em>Tuesday</em></h1>
        </a>
        <div>
            <a href="/profile"> <img src="" id="avatar" style="border-radius: 25%;" width = 55; height = 55;> </a>
            <a href="/logout">
                    <button type="button" class="btn btn-warning">Log out</button>
            </a>

        </div>
    </nav>
    <a href="/profile" style="z-index: 10000;" class="mx-2 my-2 sticky-top btn btn-warning">Back to Profile</a>
    <div class="container mt-3">

        <div class="row">
            <div class="col-md text-center sticky-top bg-white">
                <img id='avatar' src="https://api.adorable.io/avatars/face/eyes1/nose1/mouth1/color1" class="img-fluid img-thumbnail">
                <h2 class="h2 my-2">{{username }}</h2>
            </div>

            <div class="col-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md my-3 my-md-0">
                            <h3 class="h3">Eyes</h3>
                            {% for i in eyes %}
                            <button onmouseenter="updateEyes('{{i}}');" onmouseout="displayCurrentAvatar();" onclick="changeEyes('{{i}}')" type="button" class="btn btn-block btn-light border my-0">{{ i }}</button> {% endfor %}
                        </div>
                        <div class="col-md my-3 my-md-0">
                            <h3 class="h3">Noses</h3>
                            {% for i in noses %}
                            <button onmouseenter="updateNose('{{i}}');" onmouseout="displayCurrentAvatar();" onclick="changeNose('{{i}}')" type="button" class="btn btn-block btn-light border my-0">{{ i }}</button> {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md my-3 my-md-0">
                            <h3 class="h3">Mouths</h3>
                            {% for i in mouths %}
                            <button onmouseenter="updateMouth('{{i}}');" onmouseout="displayCurrentAvatar();" onclick="changeMouth('{{i}}')" type="button" class="btn btn-block btn-light border my-0">{{ i }}</button> {% endfor %}
                        </div>
                        <div class="col-md my-3 my-md-0">
                            <h3 class="h3">Colors</h3>
                            {% for i in colors %}
                            <button onmouseenter="updateColor('{{i}}');" onmouseout="displayCurrentAvatar();" onclick="changeColor('{{i}}')" type="button" class="btn btn-block btn-light border my-0" style="background-color: #{{i}};">&nbsp;</button> {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='avatar.js') }}"></script>
</body>

</html>

<!--
    {% extends "base.html" %}
    <!doctype html> {% block content %}
    <head>
      <style>
	#proj:hover{
	color: #85c1e9   ;
	}
      </style>
    </head>
<body>

  <div class="row" style="background-color:lightgreen;">
    <div class="container-fluid mt-5" align="left" margin="0">
      <h2> {{project_name}}</h2>
    </div>
  </div>

  <div class="row" style="height:100vh;">

    <div class="col-sm-3 col-md-3 col-lg-3" style="background-color:gray;">
      <p> column0 </p>

    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
      <p> column1 </p>

    </div>

  </div>
</body>



{% endblock %}
-->
