<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>

      .navbar-default {
	  background-color: #28a745;
	  border-color: #28a745;
      }

      .navbar-brand {
	  color: black;
	  font-weight: bold;
	  font-size: 30px;

      }

      ul.nav a:hover {
	  color: white !important;
      }

      .navbar-nav a {
	  float: right;
	  color: black;
      }
     </style>
    <title class='titulo'> Tuesday | {{username}} </title>
  </head>


  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      	<div class="navbar-header">
      	  <a class="navbar-brand" href="/home">
            <img src="../static/letnogo.png" width='50' height='50' class="d-inline-block align-top" alt="">
            <i>Tuesday</i>
          </a>
      	</div>
      	<ul class="nav navbar-nav">
      	  <li><span class="text">Hello, <i class="text-warning">{{username}}</i></span></li>
      	  <li><a href="/logout">Log Out</a></li>
      	</ul>
      </div>
    </nav>

    {% block content %}

    {% endblock %}
  <footer class="-footer bg-dark fixed-bottom text-success text-right"> &copy; LetNogo 2019</footer>
  </body>
</html>
