<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
      .navbar-default {
	  background-color: green;
	  border-color: green;
      }

      .navbar-brand {
	  color: black;
	  font-weight: bold;
	  font-size: 30px;

      }

      ul.nav a:hover {
	  color: white !important;
      }

      .navbar-nav a {
	  float: right;
	  color: black;
      }
     </style>

    <title> Tuesday | 'USERNAME' </title>
  </head>


  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/home">Tuesday</a>
	</div>
	<ul class="nav navbar-nav">
	  <li><span class="text">Hello, 'USERNAME HERE'</span></li>
	  <li><a href="#">Log Out</a></li>
	</ul>
      </div>
    </nav>

    {% block content %}

    {% endblock %}

  </body>
</html>
