<div class="container">
  <div class="row">
    <div class="col-md">

      <h2 class="text-center">Team Progress</h2>
      {% if done != 'no tasks' %}
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{done}}%"></div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{working}}%"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{notstarted}}%"></div>
      </div>
      {% else %}
      <div class="alert alert-warning">Your team doesn't have any tasks yet!</div>
      {% endif %}
      <hr>
      <h2 class="text-center">Recent Team Messages</h2>
      <div id="messages">
        <div class="container-fluid">
          {% if messages|length > 0 %} {% for message in messages[:5] %}
          <div class="row my-2">
            <div class="bg-info w-100 rounded-pill py-2 px-3">
              <img class="mr-2 rounded-circle" src="{{teammate_pfp_urls[message[0]]}}" height="30" width="30" onload="getUserImage('{{message[2]}}', '{{message[0]}}')" id="{{message[3]}}">
              <span class="font-weight-bold">{{message[0]}}</span> &mdash; <span class="font-italic">{{message[1]}}</span>
              <small class="float-right">{{message[3]}}</small>
            </div>
          </div>
          {% endfor %} {% else %}
          <div class="alert alert-warning">Your team doesn't have any messages!</div>
          {% endif %}
        </div>
      </div>
      <hr>
      <h2 class="text-center">What You're Working On</h2>
      <div id="workingOn">

        <div class="container-fluid">
          {% if tasks|length > 0 %} {% for task in tasks %}
          <div class="row">
            &nbsp;{{ task }}
          </div>
          {% endfor %} {% else %}
          <div class="alert alert-warning">You aren't currently working on anything!</div>
          {% endif %}
        </div>

      </div>
      <hr class="d-md-none">
    </div>
    <div class="col-md">
      <h2 class="text-center">Team Members</h2>
      <div class="container">


        <div class="accordion" id="teammateAccordion">

          {% for name, tasks in teammate_tasks.items() %}
          <div class="card">
            <button class="btn btn-warning btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapse{{name}}" aria-expanded="false" aria-controls="collapse{{name}}" id="heading{{name}}">
              {{name}}
            </button>
            <div id="collapse{{name}}" class="collapse" aria-labelledby="heading{{name}}" data-parent="#teammateAccordion">
              <div class="card-body">
                <h5 class="card-title">Haven't Started</h5>
                <ul class="list-group list-group-flush">
                  {% for task in tasks %} {% if task[4] == 0 %}
                  <li class="list-group-item">&bull; {{task[0]}} <span style="color: red;">{% for n in range(task[2]) %}!{% endfor %}</span>
                  </li>
                  {% endif %} {% endfor %}
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Working On</h5>
                <ul class="list-group list-group-flush">
                  {% for task in tasks %} {% if task[4] == 1 %}
                  <li class="list-group-item">&bull; {{task[0]}} <span style="color: red;">{% for n in range(task[2]) %}!{% endfor %}</span></li>
                  {% endif %} {% endfor %}
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Done</h5>
                <ul class="list-group list-group-flush">
                  {% for task in tasks %} {% if task[4] == 2 %}
                  <li class="list-group-item">&bull; {{task[0]}} <span style="color: red;">{% for n in range(task[2]) %}!{% endfor %}</span></li>
                  {% endif %} {% endfor %}
                </ul>
              </div>
              <div class="card-body">
                <a class="btn btn-block btn-info btn-sm" href="/view_profile/{{project_name}}/{{p_id}}?username={{name}}">
                Go to profile
              </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
