<div class="container">
  <div class="row">
    <div class="col-md">

      <h2 class="text-center">Team Progress</h2>
      {% if done != 'no tasks' %}
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{done}}%"></div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{working}}%"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{notstarted}}%"></div>
      </div>
      {% else %}
      <div class="alert alert-warning">Your team doesn't have any tasks yet!</div>
      {% endif %}
      <hr>
      <h2 class="text-center">Recent Team Messages</h2>
      <div id="messages">
        <div class="container-fluid">
          {% if messages|length > 0 %} {% for message in messages[:5] %}
          <div class="row my-2">
            <div class="bg-info w-100 rounded-pill py-2 px-3">
              <img class="mr-2 rounded-circle" src="" height="30" width="30" onload="getUserImage('{{message[3]}}', '{{message[1]}}')" id="{{message[3]}}"><span class="font-weight-bold">{{message[1]}}</span> said <span class="font-italic">"{{message[2]}}"</span> at <u>{{message[4]}}</u>
            </div>
          </div>
          {% endfor %} {% else %}
          <div class="alert alert-warning">Your team doesn't have any messages!</div>
          {% endif %}
        </div>
      </div>
      <hr>
      <h2 class="text-center">What You're Working On</h2>
      <div id="workingOn">

        <div class="container-fluid">
          {% if tasks|length > 0 %} {% for task in tasks %}
          <div class="row">
            &nbsp;{{ task }}
          </div>
          {% endfor %} {% else %}
          <div class="alert alert-warning">You aren't currently working on anything!</div>
          {% endif %}
        </div>

      </div>
      <hr class="d-md-none">
    </div>
    <div class="col-md">
      <h2 class="text-center">Team Members</h2>
      <div class="container">


        <div class="accordion" id="teammateAccordion">

          {% for name, vals in teammate_tasks.items() %}
          <div class="card">
            <button class="btn btn-warning btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapse{{name}}" aria-expanded="false" aria-controls="collapse{{name}}" id="heading{{name}}">
                      {{name}}
                    </button>
            <div id="collapse{{name}}" class="collapse" aria-labelledby="heading{{name}}" data-parent="#teammateAccordion">
              <div class="card-body">
                <h5 class="card-title">Haven't Started</h5>
                <ul class="list-group list-group-flush">
                  {% for task, taskVals in vals.items() %} {% if taskVals[3] == 0 %}
                  <li class="list-group-item">{{task}}</li>
                  {% endif %} {% endfor %}
                </ul>
                <hr>
                <h5 class="card-title">Working On</h5>
                <ul class="list-group list-group-flush">
                  {% for task, taskVals in vals.items() %} {% if taskVals[3] == 1 %}
                  <li class="list-group-item">{{task}}</li>
                  {% endif %} {% endfor %}
                </ul>
                <hr>
                <h5 class="card-title">Done</h5>
                <ul class="list-group list-group-flush">
                  {% for task, taskVals in vals.items() %} {% if taskVals[3] == 2 %}
                  <li class="list-group-item">{{task}}</li>
                  {% endif %} {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}

          <!--
                <div class="row">
                  <div class="col-md ml-5">
                    {% for mate in teammates %}
                    <div class="row">

                      {% if mate[0] != username %}
                      <div class="card mb-4" style="width: 27rem;">
                        <a class="card-header alert-success text-center" data-toggle="collapse" href="#collapse_user{{mate[0]}}" id="user_name">
                          <div class="row">
                            <div style="width:45px; height:45px;">
                              <img class="image-fluid mr-3" src={{ teammate_pfp_urls[mate[0]] }} id="avatar" style="border-radius: 25%;" width=4 5; height=4 5;>
                            </div>
                            <b><i>{{mate[0]}}</i></b>
                            <div style="width:45px; height:45px;">
                            </div>
                          </div>
                        </a>
                        <div class="collapse" id="collapse_user{{mate[0]}}">
                          <div class="card-body">
                            susan rawr xD<br> put tasks here dx
                          </div>
                          <div id="user-name" class="card-footer alert-success text-center">
                            <a id="user-name">Visit Profile</a>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <div class="card mb-4" style="width: 27rem;">
                        <a class="card-header alert-success text-center" data-toggle="collapse" href="#collapse_user" id="user_name">
            <img class="mr-3" src={{ teammate_pfp_urls[mate[0]] }} id="avatar" style="border-radius: 25%;" width = 35; height = 35;>
            <b><i>{{mate[0]}}</i> (YOU)</b>
          </a>
                        <div class="collapse" id="collapse_user">
                          <div class="card-body">
                            susan rawr xD<br> put tasks here dx
                          </div>
                          <div id="user-name" class="card-footer alert-success text-center">
                            <a>Visit Profile</a>
                          </div>
                        </div>
                      </div>
                      {% endif %}


                    </div>
                    {% endfor %}

                  </div>
                </div>
-->
        </div>
      </div>
    </div>
  </div>
