<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='sizing.css') }}">

    <title>Login &bull; Tuesday</title>
</head>

<body>
    <div class="container" style="height: 100vh;">
        {% set msgs = get_flashed_messages() %}
        <div class="h-75">
            {% if msgs|length >= 1 %}
            <div class="row h-25">
                {% else %}
                <div class="row">
                    {% endif %} {% for each in msgs %}
                    <div class='col my-auto'>
                        {% if each == 'Successfully logged out!' %}
                        <div class="alert alert-info text-center round-bottom">
                            {{each}}
                        </div>
                        {% elif each[:4] == 'Succ' %}
                        <div class="alert alert-success text-center round-bottom">
                            {{each}}
                        </div>
                        {% else %}
                        <div class="alert alert-danger text-center round-bottom">
                            {{each}}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% if msgs|length >= 1 %}
                <div class="row h-50">
                    {% else %}
                    <div class="row h-100">
                        {% endif %}
                        <div class="col my-auto">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <i><h1 class="display-1 text-center pb-3">Tuesday</h1></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" id="loginRegister">

                                        <div class="text-center">
                                            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/04de2e31234507.564a1d23645bf.gif">
                                        </div>
                                    </div>
                                </div>

				<br><br>
				
				<!-- THE QUOTE -->
				<div class="row text-center">
				  <div class="col">
				    <p> <i>{{ quote["quote"] }}</i> <br> - {{ quote["author"] }}</p>
				  </div>
				</div>
				<!-- THE QUOTE -->
				
				
                            </div>
                        </div>
                    </div>
                </div>
            </div>

	    
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>
