<div class="container-fluid">
  <h2 class="display-4">Test Data Generator</h2>
  <div class="form-group">
    <label for="sentenceCount">Number of subarrays:&nbsp;</label>
    <input type="number" id="sentenceCount" class="form-control">
  </div>
  <div class="form-group">
    <label for="wordCount">Items per sentence</label>
    <input type="number" id="wordCount" class="form-control">
  </div>
  <div class="form-group">
    <label for="choice">Item type</label>
    <div class="form-check" id="choice">
      <input class="form-check-input" type="radio" name="type" id="string" value="string" checked>
      <label class="form-check-label" for="string">Strings</label>
    </div>
    <div class="form-check" id="choice">
      <input class="form-check-input" type="radio" name="type" id="integer" value="integer">
      <label class="form-check-label" for="int">Integers</label>
    </div>
    <div class="form-check" id="choice">
      <input class="form-check-input" type="radio" name="type" id="float" value="float">
      <label class="form-check-label" for="float">Floats</label>
    </div>
  </div>
  <div class="form-group">
    <label for="choice">Print as...</label>
    <div class="form-check" id="choice">
      <input class="form-check-input" type="radio" name="format" id="array" value="array" checked>
      <label class="form-check-label" for="array">an array</label>
    </div>
    <div class="form-check" id="choice">
      <input class="form-check-input" type="radio" name="format" id="paragraph" value="paragraph">
      <label class="form-check-label" for="paragraph">a paragraph</label>
    </div>
  </div>
  <button type="button" class="btn btn-success my-2" onclick="getData();">Get test data</button>

  <textarea id="data" class="form-control" rows="10" hidden></textarea>
</div>
