<div class="card mt-3">
    <div class="card-header">
        <h2 class="h2">Join Existing Project</h2>
    </div>
    <div class="card-body">
        <form action="join_project" method="POST">
            <div class="form-group">
                <input name="id" type="text" class="form-control" placeholder="Project ID">
            </div>
            <button type="button" class="btn btn-warning float-left" onclick="displayExistingProjects();">Cancel</button>
            <button type="submit" class="btn btn-success float-right">Join Project</button>
        </form>
    </div>
</div>
