{% extends "base.html" %}
<!doctype html>
{% block content %}

<head>
  <style>
    .btn {
	width: 100%;
	display: block;
	background-color: green;
	border-radius: 0;
    }
  </style>
</head>

<body>

<br><br>

  <div class="container-fluid" align="center">

    <div class-"row">
      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"> </div>

      <div class="col-xs-4 col-sm-4 col-md-6 col-lg-8" style="background-color:green;">
	<h1> Your Projects</h1>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"> </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"> </div>

      <div class="col-xs-2 col-sm-2 col-md-3 col-lg-4">
	<button type="button" class="btn">Create New Project</button>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-3 col-lg-4">
	<button type="button" class="btn">Join Existing Project</button>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"> </div>
    </div>
</body>

<br>

<p>Projects will display here, code has not been implemented to display existing projects</p>

{% endblock %}
