{% extends "base.html" %}
<!doctype html> {% block content %}
<head>
  <style>
    #proj:hover{
      color: #85c1e9   ;
    }
  </style>
</head>
<body>

    <div class="container-fluid mt-5" align="center">

        <div class="row">

            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-8">
                <div class="alert alert-success shadow p-3 mb-5 rounded">

                    <h2> Your Projects </h2>
                    <button id="proj" type="button" class="btn btn-hover mr-5"><i><b>Create New Project</button>
                    <button id="proj" type="button" class="btn btn-hover ml-5">Join Existing Project</b></i></button>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"> </div>

            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-4 pt-2">

            </div>

            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-4 pt-2">

            </div>

            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"> </div>
        </div>

        <div class="container-fluid mt-3" align='center'>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table table-hover table-striped pl-5 pr-5 table-bordered shadow-lg p-3 mb-5 rounded">
                        <thead class="table-warning">
                            <tr>
                                <th class="text-center" scope="col">ID</th>
                                <th class="text-center" scope="col">Project</th>
                                <th class="text-center" scope="col">Summary</th>
                            </tr>
                        </thead>
                        <tr class="table-success">
                            <th class="text-center" scope="col">69</th>
                            <th class="text-center" scope="col">Fill me XD</th>
                            <th class="text-center" scope="col">I like bananas</th>
                        </tr>
                        <tr class="table-success">
                            <th class="text-center" scope="col">420</th>
                            <th class="text-center" scope="col">Fill me XD</th>
                            <th class="text-center" scope="col">I like bananas</th>
                        </tr>
                        <tr class="table-success">
                            <th class="text-center" scope="col">999</th>
                            <th class="text-center" scope="col">Fill me XD</th>
                            <th class="text-center" scope="col">I like bananas</th>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</body>



{% endblock %}
