<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='effects.css') }}">

    <title>Home &bull; Tuesday</title>
</head>

<body>


    <nav class="navbar navbar-light bg-success">
        <a class="navbar-brand mb-0 h1" href="/home">
                Tuesday
            </a>
        <div>
            <img src="" id="avatar" style="border-radius: 25%;">
            <a href="/logout">
                    <button type="button" class="btn btn-warning">Log out</button>
                </a>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="jumbotron py-2 mb-3">
            <h1 class="h1 text-center">Your Projects</h1>
        </div>

        <div class="btn-group mb-1" role="group" style="display: flex; flex: 1;">
            <button class="btn btn-warning" id="newProject" onclick="displayNewProject();">New Project</button>
            <button class="btn btn-info" id="joinProject" onclick="displayJoinProject()">Join Existing Project</button>
        </div>

        <div id="content">






        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='landing.js') }}"></script>
</body>
</html>