<div class="container-fluid">
  <h1 class="display-4">Private Inbox</h1>
  <div class="row">
    {% if private_messages|length > 0 %}
    <div class="col-md my-3 my-md-0">
      {% for pm in private_messages %}
      <div class="row my-2">
        <div class="bg-primary w-100 rounded-pill py-2 px-3" onclick="deleteMessage('{{pm[0][3]}}');">
          <img class="mr-2 rounded-circle" src="{{ pm[1]  }}" height="30" width="30" onload="getUserImage('{{pm[0][3]}}', '{{pm[0][1]}}')" id="{{pm[0][3]}}"><span class="font-weight-bold">{{pm[0][1]}}</span><span class="font-italic">"{{pm[0][2]}}"</span>
          <small class="float-right">{{pm[0][4]}}</small>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="alert alert-warning w-100">You don't have any private messages ;&#40;</div>
      {% endif %}
    </div>
    <div class="col-md my-3 my-md-0">
      {% if teammates|length > 0 %}
      <div class="//collapse mt-1" id="message">
        <div class="card" style="max-width: 27rem;">
          <div class="card-body">
            <div class="form-group">
              <label for="selectTo">To:</label>
              <select class="form-control" id="selectTo">
                {% for mate in teammates %}
                {% if mate[0] != username %}
                <option>{{mate[0]}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="msg">Message:</label>
              <textarea id="msg" class="form-control" maxlength="140" name="message" placeholder="Message" rows="4" cols="60" oninput="updateMsgCharCount();" style="resize:none;" required></textarea>
              <small class="my-0 py-0" id="msgCharCount">0/140</small>
              <button class="btn btn-success float-right mt-2 mx-2" onclick="submitPrivateMsg();">Send</button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer row float-left">
        <div class="col" id="form_content">
          <a class="btn btn-success" data-toggle="collapse" href="#message" role="button">New Message</a>
        </div>
      </div>
      {% else %}
      <div class="alert alert-warning w-100">There are no members in your group ;&#40;</div>
      {% endif %}
    </div>
  </div>
</div>
