<div class="container">
    <h1 class="display-4">Private Inbox</h1>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- put a for loop here where you get each person in your project and are able to message them-->
            Person
          </div>
          <div class="col-md-6">
            Chat
            <!-- for loop here that loads each message for current person -->
            {{private_messages}}
          </div>
        </div>
    </div>
</div>
