<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='effects.css') }}">

    <title>{{ username }} &bull; Tuesday</title>
</head>

<body>


    <nav class="navbar navbar-light bg-success">
        <a class="navbar-brand mb-0 h1" href="/home">
        Tuesday
      </a>
        <div>
            <img src="" id="avatar" style="border-radius: 25%;">
            <a href="/logout">
                <button type="button" class="btn btn-warning">Log out</button>
            </a>
        </div>
    </nav>

    <div class="container text-center">
        <h1 class="display-4 text-center">{{ username }}</h1>

        <div class="my-3">
            <img src="{{ url }}" class="img-fluid img-thumbnail">
            <div class="card-body">
                <a href="/avatar" class="btn btn-warning rounded">Update Avatar</a>
            </div>
        </div>

        <table class="table border mx-auto" style="max-width: 700px;">
            <tbody>
                <tr>
                    <th scope="row">First Name:</th>
                    <td id="firstName">{{ first }}</td>
                    <td id="firstNameButton">
                        <button type="button" class="btn rounded btn-warning btn-block">Update First Name</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Last Name:</th>
                    <td id="lastName">{{ last }}</td>
                    <td id="lastNameButton">
                        <button type="button" class="btn rounded btn-warning btn-block">Update Last Name</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td id="email">{{ email }}</td>
                    <td id="emailButton">
                        <button type="button" class="btn rounded btn-warning btn-block">Update Email</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Phone Number</th>
                    <td id="phone">{{ phone }}</td>
                    <td id="idButton">
                        <button type="button" class="btn rounded btn-warning btn-block">Update Phone Number</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Biography</h4>
                <p class="card-text" id="bio">I am a dickleberry! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mauris mauris, viverra sed elementum quis, suscipit in dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat risus ut dui vestibulum, eu scelerisque metus euismod. Maecenas accumsan nisl non pellentesque lobortis. Aliquam quis mattis elit. Nunc semper lectus non ullamcorper pulvinar. Praesent suscipit quam at nulla cursus vulputate. Sed sodales vulputate viverra. Suspendisse auctor metus lectus. Etiam vehicula varius ante.</p>
                <div id="bioButton">
                    <button type="button" class="rounded btn btn-warning">Update Biography</button>
                </div>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
</body>

</html>
