<div class="card">
    <div class="card-header">
        <h2 class="text-center">Your Projects</h2>
    </div>
</div>
{% if projectDict.items()|length > 0 %}
<div class="container p-0 text-center">
    {% for projectName, projectID in projectDict.items() %}
    <a class="btn btn-primary text-white w-100 my-1" href="/project/{{ projectName }}/{{ projectID }}">{{ projectName }}</a> {% endfor %}
</div>
{% else %}

<div class="container p-0 text-center">
    <div class="alert alert-warning my-3">You're corrently not part of any projects! You can create or join one above!</div>
</div>

{% endif %}
