{% extends "base.html" %}
<!doctype html> {% block content %}
<head>
  <style>
    #proj:hover{
	color: #85c1e9   ;
    }
  </style>
</head>
<body>

  <!-- <div class="container-fluid mt-5" align="center"> -->

    <div class="row" style="background-color:lightgreen;">
      <div class="container-fluid mt-5" align="left" margin="0">
	<h2> Project name </h2>
      </div>
    </div>
    
    <div class="row" style="height:100vh;">

      <div class="col-sm-3 col-md-3 col-lg-3" style="background-color:gray;">
	<p> column0 </p>
	
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9">
	<p> column1 </p>
	
      </div>
      
    </div>
    
    <!-- </div> -->
</body>



{% endblock %}
