<div class="container">
    <h1 class="display-4">To-do</h1>
    <div class="container">
        <div class="row">
            <div class="col-md mx-2 my-3 my-md-0 p-0">
                <h2 class="bg-warning rounded p-2 w-100 text-center"> Working On</h2>
                <div class="container-fluid">

                </div>
            </div>
            <div class="col-md mx-2 my-3 my-md-0 p-0">
                <h2 class="bg-danger p-2 rounded w-100 text-center">Haven't Started</h2>
            </div>
            <div class="col-md mx-2 my-3 my-md-0 p-0">
                <h2 class="bg-success p-2 rounded w-100 text-center">Done</h2>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col mx-2" id="form_content">
                <button type="button" class="btn btn-warning float-left" onclick="displayAddTask();">Add Task</button>
            </div>
        </div>
    </div>
</div>
