<div class="container">
  <h1 class="display-4">Team Inbox</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md my-3 my-md-0">
      {% for msg in team_messages %}
      <div class="row my-2 pb-2">
        <div class="bg-info w-100 rounded-pill py-2 px-3">
          <img class="mr-2 rounded-circle" src="{{teammate_pfp_urls[msg[0]]}}" height="30" width="30" id="{{msg[3]}}">
          <span class="font-weight-bold">{{msg[0]}}</span> &mdash; <span class="font-italic">{{msg[1]}}</span>
          <small class="float-right">{{msg[3]}}</small>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- new msg -->
    <div class="col-md my-3 my-md-0 ml-2">
      <div class="card" style="width: 27rem;">
        <div class="card-header">
          <h3>New Message</h3>
        </div>
        <div class="card-body">
          <form method="get">
            <textarea id="msg" class="form-control" maxlength="140" name="message" placeholder="Message" rows="4" cols="60" oninput="updateMsgCharCount();" style="resize:none;" required></textarea>
            <small class="my-0 py-0" id="msgCharCount">0/140</small>
            <button class="btn btn-outline-info float-right mt-2 mx-2" onclick="submitTeamMsg();">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
